body {
  background-color: powderblue;
}
h1 {
  color: blue;
}
p {
  color: red;
}
label {
  display:block;
  width:12;
  height:12;
  text-align:right;
}
table#t01 {  
  width:70%;
  margin-left:15%;
  margin-right:15%;
}
